
.sidebar {
  width: 200px;
  background-color: #136a13;
  color: #fff;
  box-sizing: border-box;
  position: absolute;
}

.content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 200px;
  text-align: justify;
}

.sidebar a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.sidebar a:hover {
  background-color: #2980b9;
}
/* Sidebar.css 
.sidebar-container {
  display: flex;
  transition: margin-left 0.3s ease;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #333;
  color: white;
  transition: transform 0.3s ease;
  transform: translateX(-250px);
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar.open {
  transform: translateX(0);
}

.toggle-button {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.sidebar-content {
  padding: 20px;
}

.sidebar-content ul {
  list-style: none;
  padding: 0;
}

.sidebar-content ul li {
  padding: 10px 0;
  cursor: pointer;
}

.sidebar-content ul li:hover {
  background-color: #555;
}

.content {
  margin-left: 250px;
  padding: 20px;
}

.sidebar-container.open .content {
  margin-left: 250px;
}

.sidebar-container:not(.open) .content {
  margin-left: 0;
}
*/
